.form-contact label {
         display: inline-block;
         min-width: 100px;
}
.form-contact p {margin: 20px 0 20px 0;}
.form-contact input[type=submit], textarea {
         font-size: 18px;
}
body{
	background-color: white;

}
.workdb textarea{
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding:10px;
}

.workdb table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse;
	padding:10px;
}
.workdb input{
	width: 10%;
	position: relative;
	left: 45%;
	border: 1px solid #dddddd;
	border-collapse: collapse;

}
.workdb th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.workdb td {
	border: 1px solid #dddddd;
	padding: 5px;
}
