html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #8bb6d6;
  background-image: url(../img/web-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

.menu-wrapper {
  display: flex;
  /* justify-content: space-between; */
  padding-top: 50px;
  align-items: center;
}

.logo {
  background: #000;
  padding: 22px 17px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  margin-right: 110px;
}

.menu {
  display: flex;
  gap: 60px;
  margin-right: 100px;
}

.menu-item {
}

.menu-link {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 35px;
  border-radius: 20px;
  background: #fff;
  padding: 10px 25px;
}

.menu-link:hover {
  background: #3ae1a7a1;
}

.profile {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 35px;
  border-radius: 20px;
  background: #fff;
  padding: 10px 25px;
  margin-right: 30px;
}
.profile:hover {
  background: #2231ffa1;
}

.exit {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 35px;
  border-radius: 20px;
  background: #FD0000;
  padding: 10px 25px;
}

.exit:hover {
  background: #b50e0e;
  color: #fff;
}


.base {
  padding-top: 160px;
}

.base-block {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 20px;
  padding: 30px 70px;
  width: 550px;
  margin: 0 auto;
}
.base-block__title {
  text-align: center;
  margin-bottom: 35px;
  font-size: 34px;
}
.base__form {

}
.base__form-input {
  margin-bottom: 30px;
}

.base__form-input-block {
  display: flex;
  flex-direction: column;
}


.btn {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.base__form-btn {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background: #FD0000;
  border-radius: 20px;
  padding: 15px 30px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.base__form-btn:hover {
  background: #fff;
  border: 2px solid #000;
}