<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подключение бд</title>
    {% for msg in get_flashed_messages() %}
    <div class = "flash">{{msg}}</div>
    {% endfor %}
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
<div class="login-box">
  <p>Добавление бд</p>
  <form action="/creatdb" method="post">
    <div class="user-box">
           <select name="vendor">
           <option value=”PostgreSQL”>PostgreSQL</option>
           <option value=”MySQL”>MySQL</option>
<!--           <option value=”MSserver”>MSserver</option>-->
           <option value=”SQLite”>SQLite</option>
    <div class="user-box">
      <input type="text" name="info_db" placeholder="postgres:pswd@ip:port/name_db">
      <label>Строка подключения</label>
    </div>
      <div class="user-box">
        <input type="submit" value="Добавить">
      </div>
  </form>
</body>
</html>