<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подключение бд</title>
    {% for msg in get_flashed_messages() %}
    <div class = "flash">{{msg}}</div>
    {% endfor %}
    <link rel="stylesheet" href="static/css/login.css">
    <script>
function getSelectValue(){
    var selectBox = document.getElementById('vendor')
    var userInput = selectBox.options[selectBox.selectedIndex].value
    if (userInput == "PostgreSQL"){
        console.log('PostgreSQL')
        alert('PostgreSQL');
        print('PostgreSQL');
    }


}

const list = document.querySelector('#list');
list.addEventListener('change', function(e) {
  getSelectValue(e)
});
</script>
</head>
<body>
<div class="login-box">
  <p>Добавление бд</p>
  <form action="/creatdb" method="post">
    <div class="user-box">
           <select name="vendor" id="vendor" onchange="return getSelectValue();" >
           <option value=”PostgreSQL”>PostgreSQL</option>
           <option value=”MySQL”>MySQL</option>
<!--           <option value=”MSserver”>MSserver</option>-->
           <option value=”SQLite”>SQLite</option>
    <div class="user-box">
      <input type="text" name="info_db" placeholder="postgres:pswd@ip:port/name_db">
      <label>Строка подключения</label>
    </div>
      <div class="user-box">
        <input type="submit" value="Добавить">
      </div>
  </form>
</body>



</html>