<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подключение бд</title>
    {% for msg in get_flashed_messages() %}
    <div class = "flash"><p>{{msg}}</p></div>
    {% endfor %}
    <link rel="stylesheet" href="static/css/base.css">
    <script src="static/js/vendr_create.js" ></script>
</head>
<body>
<nav>
    <a href = "{{url_for('FlaskApp:work_db')}}">SQL</a>
    <a href = "{{url_for('FlaskApp:dbname')}}">Список бд</a>
    <a href = "{{url_for('FlaskApp:history')}}">История</a>
    <a href = "{{url_for('FlaskApp:profile')}}">Профиль</a>
    <a href = "{{url_for('FlaskApp:logout')}}">Выход</a>
    <div class="animation start-home"></div>

</nav>
<div class="login-box">
  <p>Добавление бд</p>
  <form action="/createdb" method="post">
    <div class="user-box">
           <select name="vendor" id="vendor" onchange="return getSelectValue();" >
           <option value=”PostgreSQL”>PostgreSQL</option>
           <option value=”MySQL”>MySQL</option>
<!--           <option value=”MSserver”>MSserver</option>-->
           <option value=”SQLite”>SQLite</option>
    <div class="user-box">
      <input type="text" name="info_db" placeholder="Выберите СУБД и вставьте из буфера строку">
      <label>Строка подключения</label>
    </div>
      <div class="user-box">
        <input type="submit" value="Добавить">
      </div>
  </form>
</body>



</html>