<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список бд</title>

    <link rel="stylesheet" href="static/css/base.css">
    <form action="/workdb" method="post">
</head>
<body>
<div class="workdb">
<nav>
    <a href = "{{url_for('work_db')}}">SQL</a>
    <a href = "{{url_for('dbname')}}">Список бд</a>
    <a href = "{{url_for('history')}}">История</a>
    <a href = "{{url_for('profile')}}">Профиль</a>
    <a href = "{{url_for('logout')}}">Выход</a>
    <div class="animation start-home"></div>

</nav>
</div>
<div class="login-box">
    <h1>Ваши базы данных</h1>
    {% for name in rows %}
          <h2 align="center"> <a class="a2">{{name[0]}}</a><h2>
    {% endfor %}

    <p><a class="a2" href = "{{url_for('creat_db')}}">Создать бд</a></p>

    </form>
</div>
</body>
</html>