<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список бд</title>

    <link rel="stylesheet" href="static/css/base.css">
    <form action="/workdb" method="post">
</head>
<body>
<div class="workdb">
<nav>
    <a href = "{{url_for('FlaskApp:work_db')}}">SQL</a>
    <a href = "{{url_for('FlaskApp:dbname')}}">Список бд</a>
    <a href = "{{url_for('FlaskApp:history')}}">История</a>
    <a href = "{{url_for('FlaskApp:profile')}}">Профиль</a>
    <a href = "{{url_for('FlaskApp:logout')}}">Выход</a>
    <div class="animation start-home"></div>

</nav>
</div>
<div class="login-box">
    <h1>Ваши базы данных</h1>
    {% for data in rows %}
          <h2 align="center"> <input type="radio" name='namedb' id={{data[1]}}><a class="a2">{{data[0]}}</a><h2>
    {% endfor %}

    <p><a class="a2" href = "{{url_for('FlaskApp:create_db')}}">Создать бд</p>

    </form>
</div>
</body>
</html>