<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>

    <link rel="stylesheet" href="static/css/base.css">
</head>
<body>
  <div class="workdb">
  <nav>
      <a href = "{{url_for('work_db')}}">SQL</a>
      <a href = "{{url_for('dbname')}}">Список бд</a>
      <a href = "{{url_for('history')}}">История</a>
      <a href = "{{url_for('profile')}}">Профиль</a>
      <a href = "{{url_for('logout')}}">Выход</a>
      <div class="animation start-home"></div>
  </nav>
<div class="login-box">
  <p>СТРАНИЦА НЕ НАЙДЕНА</p>
    </form>

  </div>
</body>
</html>