<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>История</title>
    <link rel="stylesheet" href="static/css/base.css">
    <form action="/history" method="post">
</head>
<body>
<div class="workdb">
<nav>
    <a href = "{{url_for('FlaskApp:work_db')}}">SQL</a>
    <a href = "{{url_for('FlaskApp:table')}}">Таблицы</a>
    <a href = "{{url_for('FlaskApp:dbname')}}">Список бд</a>
    <a href = "{{url_for('FlaskApp:history')}}">История</a>
    <a href = "{{url_for('FlaskApp:profile')}}">Профиль</a>
    <a href = "{{url_for('FlaskApp:logout')}}">Выход</a>
    <div class="animation start-home"></div>
</nav>

<table table>
    <input type="submit" name='clear_hs' value="Очистить историю">
    <tr>

 <th>Запрос</th>
 <th>Статус</th>
 <th>Время</th>
    </tr>
   {% for row in rows %}
       <tr>
           {% for r in row %}
               <td><pre>{{r}}</pre></td>
           {% endfor %}
       </tr>
   {% endfor %}
</div>
</body>
</table>
</html>