<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>

    <link rel="stylesheet" href="static/css/base.css">
    <form action="/workdb" method="post">
</head>
<body>
  <div class="workdb">
  <nav>
      <a href = "{{url_for('FlaskApp:work_db')}}">SQL</a>
      <a href = "{{url_for('FlaskApp:table')}}">Таблицы</a>
      <a href = "{{url_for('FlaskApp:dbname')}}">Список бд</a>
      <a href = "{{url_for('FlaskApp:history')}}">История</a>
      <a href = "{{url_for('FlaskApp:profile')}}">Профиль</a>
      <a href = "{{url_for('FlaskApp:logout')}}">Выход</a>
      <div class="animation start-home"></div>
  </nav>

<div class="login-box">
  <p>{{name}}</p>
    <p>Успешные запросы {{statistics}}%</p>
    </form>

  </div>
</body>
</html>