<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div>
        <p class="font-sans">
        {% for msg in get_flashed_messages() %}
        {{msg}}
        {% endfor %}
        </p>
    </div>

    <title>SQL</title>
    <link rel="stylesheet" href="static/css/base.css">

    <form action="/workdb" method="post">
</head>
<body>
<div class="workdb">
<nav>
    <a href = "{{url_for('work_db')}}">SQL</a>
    <a href = "{{url_for('dbname')}}">Список бд</a>
    <a href = "{{url_for('history')}}">История</a>
    <a href = "{{url_for('profile')}}">Профиль</a>
    <a href = "{{url_for('login')}}">Выход</a>
    <div class="animation start-home"></div>

</nav>
<p><textarea name="message" cols="70" rows="10"  placeholder="Введите запрос"></textarea></p>
<input type="submit" name='req' value="Отправить">

<table table>
    <tr>
   {% for d in des %}
           <th>{{d[0]}}</th>
   {% endfor %}
    </tr>
   {% for row in rows %}
       <tr>
           {% for r in row %}
               <td>{{r}}</td>
           {% endfor %}
       </tr>
   {% endfor %}
</div>
</table>
</html>