<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div>
        <p class="font-sans">
        {% for msg in get_flashed_messages() %}
        {{msg}}
        {% endfor %}
        </p>
    </div>

    <title>SQL</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <form action="/workdb" method="post">
</head>
<body>
<div class="workdb">
<p><textarea name="message" cols="40" rows="10" placeholder="Введите запрос"></textarea></p>
<p><input type="submit" name='req' value="Отправить"></p>
<p><input type="button" name='exit' value="Выйти"></p>
<table table>
    <tr>
   {% for d in des %}
           <th>{{d[0]}}</th>
   {% endfor %}
    </tr>
   {% for row in rows %}
       <tr>
           {% for r in row %}
               <td>{{r}}</td>
           {% endfor %}
       </tr>
   {% endfor %}
</div>
</table>
</html>