<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Таблицы</title>

    <link rel="stylesheet" href="static/css/base.css">
    <form action="/table" method="post">
</head>
<body>
<div class="workdb">
  <nav>
      <a href = "{{url_for('FlaskApp:work_db')}}">SQL</a>
      <a href = "{{url_for('FlaskApp:table')}}">Таблицы</a>
      <a href = "{{url_for('FlaskApp:dbname')}}">Список бд</a>
      <a href = "{{url_for('FlaskApp:history')}}">История</a>
      <a href = "{{url_for('FlaskApp:profile')}}">Профиль</a>
      <a href = "{{url_for('FlaskApp:logout')}}">Выход</a>
      <div class="animation start-home"></div>
  </nav>

    <p>Выберите таблицу
    <select name="table" id="table" top='50%'>
        {% for name in namedb %}
        <option value={{name[0]}}>{{name[0]}}</option>
        {% endfor %}
    </p>
  <input type="submit" value="Посмотреть">

<table table>
    <tr>
   {% for d in des %}
           <th>{{d[0]}}</th>
   {% endfor %}
    </tr>
   {% for row in rows %}
       <tr>
           {% for r in row %}
               <td>{{r}}</td>
           {% endfor %}
       </tr>
   {% endfor %}


</table>
</body>
</html>