{% extends 'index.html'%}
{% block content%}
{{ super() }}
<div class="login-box">
  <p>Авторизация</p>
  <form action="/log" method="post">
    <div class="user-box">
      <input type="text"  name="username">
      <label>Логин</label>
    </div>
    <div class="user-box">
      <input type="password" name="password">
      <label>Пароль</label>
    </div>
      <div class="user-box">
        <input type="submit" value="Войти">

  </form>
  <p>Нету аккаунта? <a href="{{url_for('register')}}" class="a2">Зарегистрируйся!</a></p>
</div>
{% endblock %}